mixin standartInput(options)
    if options.withArrow 
        label.standart-input-outer
            input(placeholder=options.placeholder, name=options.name, type=options.type || "text").standart-input
    else 
        input(placeholder=options.placeholder, name=options.name, type=options.type || "text").standart-input